{var $baseLayoutOnly = true}
{var $robots = noindex}
{block #content}

<div class="main_container exception_container">

<h1>Server Error</h1>
<h2>Chyba serveru</h2>

<p>The server encountered an internal error and was unable to complete your request. Please try again later.</p>

<p class="tr">Na serveru se vyskytla chyba a systém nebyl schopen dokončit Váš požadavek. Prosím zkuste to později.</p>

<p><small>error 500</small></p>

</div>