# Local machine configuration. Use this config for defining any machine specific configuration.

# DB connection info
database:
	driver: mysql
	charset: utf8
         
	host: 127.0.0.1
	database: myDbName
	username: jsmith
	password: mypassword55

# Other machine specific parameters 
parameters:
