<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		{*<meta name="description" content="">*}
		<meta name="robots" content="{$robots}" n:ifset="$robots">

		<!-- iPhone, iPad and Android specific settings -->	
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1;">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<title>{block pageTitle}vManager{/block}</title>

		<!-- Create an icon and splash screen for iPhone and iPad -->
		<link rel="apple-touch-icon" href="{$basePath}/images/iOS_icon.png">
		<!-- <link rel="apple-touch-startup-image" href="{$basePath}/images/iOS_startup.png"> --> 

		<link rel="stylesheet" type="text/css" href="{$basePath}/css/theme/bg_dark_wood.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/theme/theme_red.css" media="screen">
		
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/jqueryui.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/vManager/gridito.css" media="screen">
		
		<!-- These stylesheets are used  --> 
		<!-- <link rel="stylesheet" type="text/css" href="{$basePath}/css/theme/switcher.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/theme/switcher1.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/theme/switcher2.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/theme/switcher3.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/theme/switcher4.php?default=switcher.css" media="screen" /> -->

		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{$basePath}/css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{$basePath}/css/ie.css" media="screen" /><![endif]-->
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/all.css" media="screen">
		
		<link rel="stylesheet" href="{$basePath}/texyla/css/style.css" type="text/css">
		<link rel="stylesheet" href="{$basePath}/texyla/themes/default/theme.css" type="text/css">

		<!-- Load JQuery -->
		{*var $googleApis = 'googleapis.bilahora.v3net.cz'*}
		{var $googleApis = 'ajax.googleapis.com'}
		<script type="text/javascript" src="http://{$googleApis}/ajax/libs/jquery/1.5/jquery.min.js"></script>

		<!-- Load JQuery UI -->
		<script type="text/javascript" src="http://{$googleApis}/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		
		<!-- SHJS (Snippet) -->
		{* <link rel="stylesheet" href="{$basePath}/snippet-shjs/jquery.snippet.min.css" type="text/css"> *}
		<link rel="stylesheet" href="{$basePath}/snippet-shjs/jquery.snippet.vmanager.css" type="text/css">
		<script type="text/javascript" src="{$basePath}/snippet-shjs/jquery.snippet.min.js"></script>
		
		<!-- Load Interface Plugins -->
		{* <script src="{$basePath}/js/plugins.js"></script>
		
		<script type="text/javascript" src="{$basePath}/js/fancybox/jquery.fancybox-1.3.4.js"></script>
		<script type="text/javascript" src="{$basePath}/js/quicksand/jquery.quicksand.js"></script>
		<script type="text/javascript" src="{$basePath}/js/quicksand/custom_sorter.js"></script>
		<script type="text/javascript" src="{$basePath}/js/quicksand/dash_sorter.js"></script>
		<script type="text/javascript" src="{$basePath}/js/quicksand/jquery-css-transform.js"></script>
		<script type="text/javascript" src="{$basePath}/js/quicksand/jquery-animate-css-rotate-scale.js"></script>
		<script type="text/javascript" src="{$basePath}/js/tinyeditor/tinyeditor.js"></script>
		<script type="text/javascript" src="{$basePath}/js/DataTables/jquery.dataTables.js"></script>
		<script type="text/javascript" src="{$basePath}/js/jqueryFileTree/jqueryFileTree.js"></script>
		<script type="text/javascript" src="{$basePath}/js/slidernav/slidernav.js"></script>  *}
		
		<!-- Lokalizace DatePickeru -->
		{if $presenter->context->translator->lang == 'cs'}	
			<script type="text/javascript" src="{$basePath}/js/jquery.ui.datepicker-cs.js"></script>
		{/if}
		
		<script type="text/javascript" src="{$basePath}/js/jquery.livequery.js"></script>
		<script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>
		<script type="text/javascript" src="{$basePath}/js/jquery.ui.gridito.js"></script>
		<script type="text/javascript" src="{$basePath}/js/jquery.textarea-expander.js"></script>
		<script type="text/javascript" src="{$basePath}/js/vManager/jquery.ui.gridito.js"></script>
				
		<!-- Texyla core -->
		<script src="{$basePath}/texyla/js/texyla.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/js/selection.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/js/texy.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/js/buttons.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/js/dom.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/js/view.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/js/ajaxupload.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/js/window.js" type="text/javascript"></script>

		<!-- languages -->
		<script src="{$basePath}/texyla/languages/cs.js" type="text/javascript"></script>
		{* <script src="{$basePath}/texyla/languages/sk.js" type="text/javascript"></script> *}
		<script src="{$basePath}/texyla/languages/en.js" type="text/javascript"></script>

		<!-- plugins -->
		<script src="{$basePath}/texyla/plugins/keys/keys.js" type="text/javascript"></script>
		{* <script src="{$basePath}/texyla/plugins/resizableTextarea/resizableTextarea.js" type="text/javascript"></script> *}
		<script src="{$basePath}/texyla/plugins/img/img.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/plugins/table/table.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/plugins/link/link.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/plugins/emoticon/emoticon.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/plugins/symbol/symbol.js" type="text/javascript"></script>
		{* <script src="{$basePath}/texyla/plugins/files/files.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/plugins/color/color.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/plugins/textTransform/textTransform.js" type="text/javascript"></script>
		<script src="{$basePath}/texyla/plugins/youtube/youtube.js" type="text/javascript"></script> *}

		<script type="text/javascript">
		//<![CDATA[
		$(function () {
			$.texyla.setDefaults({	
				texyCfg: "admin",
				baseDir: "/texyla",
				previewPath: {link :System:Texy:preview},
				filesPath: "filesplugin/files.php",
				filesThumbPath: "filesplugin/thumbnail.php?image=%var%",
				filesUploadPath: "filesplugin/files/upload.php",
				bottomLeftToolbar: [],
				bottomRightPreviewToolbar: [],
				tabs: true,
				bottomRightEditToolbar: [],
				toolbar: ['bold', 'italic', null, 'ul', 'ol', null, 'link', null, 'emoticon', 'symbol', null, 'notexy', null, 'ticket', null{if $presenter->context->userConfig->get('texyla.developerFunctions')}, 'API', ['codePhp', 'codeHtml', 'codeJs', 'codeCss', 'codeSql']{/if}, 'preview'],
				width: $('div.ui-tabs-panel:not(.ui-tabs-hide)').find('.content').width(),
				buttonType: "button"
			});
			$
		});
		</script>
		
		<!-- Tipsy -->
		<link rel="stylesheet" href="{$basePath}/tipsy/css/tipsy.css" type="text/css">
		<script src="{$basePath}/tipsy/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>
		
		<!-- Uniform  -->
		<script src="{$basePath}/uniform/jquery.uniform.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="{$basePath}/uniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
		
		<!-- This file configures the various jQuery plugins for Adminica. Contains links to help pages for each plugin. -->
		<script type="text/javascript" src="{$basePath}/js/adminica/adminica_ui.js"></script>
		<script type="text/javascript" src="{$basePath}/js/vManager/multipleFileUpload.js"></script>
		<script type="text/javascript" src="{$basePath}/js/vManager/jquery.starLink.js"></script>
		<script type="text/javascript" src="{$basePath}/js/vManager/jquery.activeTableRow.js"></script>
		<script type="text/javascript" src="{$basePath}/js/vManager/vManager.js"></script>
		<script type="text/javascript" src="{$basePath}/js/vManager/vManager-texyla.js"></script>
		
		<!-- Inicializace zavisla na prostredi (preklady, config, apod.) -->
		<script type="text/javascript">
		//<![CDATA[
		$(document).ready(function () {
			$('textarea.texyla').setupvManagerTexyla({
				apiPromptClassSource: {link :System:Texy:promptClassName},
				apiPromptMemberSource: {link :System:Texy:promptMemberName},
				ticketPromptSource: {link :System:Texy:promptTicketName}
			});
			
			$('input:file').vMultipleFileUpload({
				//linkText: 'Add another',
				//containerClass: 'vMultipleFileUpload',
				//linkClass: 'vMultipleFileUploadClicker',
				fileBtnText: '<?php echo __('Choose File'); ?>',
				fileDefaultText: '<?php echo __('No file selected'); ?>'
			});
		}); 
		</script>
	
		{block head}{/block}						
	</head>
	<body>
		{if !isset($baseLayoutOnly) || !$baseLayoutOnly}
		
			<!-- SIDEBAR -->
			<div id="sidebar">
				<div class="cog">+</div>

				<a href="{link :System:Homepage:default}" id="vmanager_logo">
					<img width="165" height="44" src="{$basePath}/images/vmanager-logo-w165.png" alt="vManager" />
				</a>

				<div class="user_box round_all clearfix">
					<img src="{=$user->getIdentity()->getAvatarUrl()}" width="55" alt="Profile Pic" />
					<h2>{if $user->isInRole('Administrator')}<?php echo __('Administrator'); ?>{else}<?php echo __('User'); ?>{/if}</h2>
					<h3><a class="text_shadow" href="{link :System:UserSettings:default}">{=$user->getIdentity()->getName()} {=$user->getIdentity()->getSurname()}</a></h3>
					<ul>
						<li><a href="{link :System:UserSettings:default}"><?php echo __('settings'); ?></a><span class="divider">|</span></li>
						<li><a href="{link :System:Sign:out}"><?php echo __('logout'); ?></a></li>
					</ul>
				</div><!-- #user_box -->

				<ul id="accordion">
					{* TODO: Prepsat na viceurovnovou nerekurzivni variantu *}
					{foreach vManager\Application\Navigation::getMenuItems() as $curr}
						<li>
							<a href="{if isset($curr['url'])}{$curr['url']}{else}#{/if}"{if isset($curr['children']) && count($curr['children'])} class="top_level"{/if}>
								{if isset($curr['icon'])}<img src="{$curr['icon']}"/>{/if}
								{$curr['label']}
							</a>
							{if isset($curr['children']) && count($curr['children']) > 0}
								<ul class="drawer">
								{foreach $curr['children'] as $curr2}
									<li><a href="{$curr2['url']}">{$curr2['label']}</a></li>
								{/foreach}
								</ul>
							{/if}
						</li>
					{/foreach}
				</ul>
				
				<!-- SEARCH -->
				<!--<form id="search_side" method="get" action="{link :System:Search:default}"><input class="round_all" name="s" type="text" value="<?php echo __('Search...'); ?>" onclick="value=''"></form>-->
				
				<!-- Other links -->
				{var $sysConfig = vManager\Modules\System::getInstance()->getConfig()}
				<ul id="side_links" class="text_shadow" n:if="isset($sysConfig['sideLinks'])">
					<li n:foreach="$sysConfig['sideLinks'] as $url => $label">
						<a href="{$url}">{$label}</a>
					</li>
				</ul>
			</div><!-- #sidebar -->
			
			<div id="main_container" class="main_container container_16 clearfix">
				{*include 'includes/navigation.php'*}
				{include #content}
			</div>	
				
		{* Implementace cisteho layoutu *}
		{else}
			{include #content}
		{/if}
	</body>
</html>