#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	php: # PHP configuration
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes
		# default_charset: "UTF-8"

	service:
		Nette\Security\IAuthenticator: UsersModel
		Nette\Loaders\RobotLoader:
			option:
				directory: [%appDir%, %libsDir%]
			run: true

	database:
		driver: mysql
		lazy: true
		charset: utf8
		

production < common:

development < common:
	database:
		host: 127.0.0.1
		database: vbuilder_sandbox
		username: vbuilder
		password: g1Ut6NMogtyurkZnQRxcaL
		profiler: true

console < development:
	database:
		host: 192.168.1.203
