{extends '../Record/generalRecordForm.inc.latte'}

{block afterHeadFields}
	<tr>
		<td colspan="3" class="separator"></td>
	</tr>
	
	<tr>
		<td>
			{!$form['subject']->label}
			{!$form['subject']->control}
		</td>
					
		<td width="10%"></td>
					
		<td>
			{if isset($form['subjectEvidenceId'])}
				{!$form['subjectEvidenceId']->label}
				{!$form['subjectEvidenceId']->control}
			{/if}
		</td>
	</tr>
	
	<tr>
		<td colspan="3" class="separator"></td>
	</tr>
{/block}										
