{extends '../@layout.latte'}

{block wiki}
	<div class="flat_area grid_16 wikiBlock">
		
			<h2 class="articleHeading"><?php echo __('Article not found'); ?></h2>
			
			<p><?php echo __('This article does not exist yet but you could totally create it! Just click the following button. If you can not see it, it means that you are a loser that is not permitted to write articles. Are you considering suicide...?'); ?></p>
			
	</div>
{/block}