{extends '../@layout.latte'}

{block wiki}
	<div class="flat_area grid_16 wikiBlock">
		
			<h2 class="articleHeading"><?php echo __('All articles'); ?></h2>
			
			{control treeArticles}
	</div>
{/block}