{var $robots = noindex}
{var $baseLayoutOnly = true}
{block #content}
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	TODO: Password reset form
{/block}
		
