{block content}
	{include ../Includes/flashes.latte}

	<div class="box grid_8 round_all">
		<h2 class="box_head grad_colour"><?php echo __('Create new user'); ?></h2>
		<a href="#" class="grabber">&nbsp;</a>
		<a href="#" class="toggle">&nbsp;</a>
		<div class="toggle_container">
			<div class="block">
				{control userForm}
			</div>
		</div>
	</div>

{/block}