{extends '../@layout.records.latte'}

{block recordContent}
<div class="flat_area grid_16" style="margin-bottom: 20px;">
	{? dt($balance)}
</div>
	
{include ../../../System/Templates/Includes/flashes.latte}
