<html>
<head>
	<style>
		body {
			 background-image: url({$basePath}/images/bg_dark_wood.jpg);
			 background-repeat: repeat-y no-repeat;
			 background-color: #11161c;
			 margin: 0;
			 padding: 0;
		}
	</style>
</head>
<body bgcolor="#11161c" style="padding: 0; margin: 0;">
	
	
<table width="100%" border="0" cellspacing="0" cellpadding="20" background="{$basePath}/images/bg_dark_wood.jpg" style="font-family: sans; font-size: 1em; min-height: 100%;">
  <tr>
    <td>

			<table width="100%" cellspacing="0" style="width: 100%; background: white; min-width: 400px;">
				<tr>
					<td width="2%" style="width: 2%;">&nbsp;</td>
					<td colspan="2" style="padding: 15px 20px 15px 20px; border-bottom: 1px solid #e6e6e6;">
						{include #header}
					</td>
					{*<td style="padding: 10px 20px 10px 0px; border-bottom: 1px solid #e6e6e6; text-align: right;">
						<a href="{$basePath}"><img src="{$basePath}/images/vmanager-logo-mail.png" width="165" height="44" /></a>
					</td>*}
					<td width="2%" style="width: 2%;">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="4" style="padding: 20px 15px;">
						{include #content}
					</td>
				</tr>

				<tr>
					<td width="2%" style="width: 2%;">&nbsp;</td>
					<td colspan="2" style="padding: 15px 20px 15px 20px; border-top: 1px solid #e6e6e6;">
						{include #footer}
					</td>
					<td width="2%" style="width: 2%;">&nbsp;</td>
				</tr>
			</table>

			<div style="padding: 20px 10px; text-align: center;">
				<a href="http://www.vmanager.cz{*$basePath*}"><img src="{$basePath}/images/vmanager-logo-w165.png" width="165" height="44" /></a>
			</div>

    </td>
  </tr>
</table>	
			
</body>
</html>
