{**
 * Reset password
 *
 * @param string $username
 * @param string $newPassword
 *}

Hello {$username},<br />
<br />
Your new password is set to: {$newPassword}<br />
Please change it in user settings.<br />
<br />
vManager