<?php
	echo _x('New commit <a href="%s">%s</a> in <span class="highlight1 repository">%s</span>', array(
			$record->commit->url,
			$record->commit->message,
			$record->commit->repo->name
	));
?>

{if $record->commit->author}<?php echo _x('by <span class="author" style="color: %s">%s</span>', array($template->colorForValue($record->commit->author->name, 'authorPalette'), $record->commit->author->name)); ?>{/if}
