body .main_container .history .revisionBlock .grad_colour {
	
	background: #2b4356; /* old browsers */
	
	background: -moz-linear-gradient(top, #2b4356 0%, #122b45 99%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b4356), color-stop(99%,#122b45)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b4356', endColorstr='#122b45',GradientType=0 ); /* ie */
		
	border: 1px solid #122b45;
	
}

body .main_container .history .mineRevisionBlock .grad_colour {
	
	background: #3d8336; /* old browsers */
	
	background: -moz-linear-gradient(top, #3d8336 0%, #277423 99%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d8336), color-stop(99%,#277423)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8336', endColorstr='#277423',GradientType=0 ); /* ie */
		
	border: 1px solid #277423;
	
	background-color: #9e253b; /* old browsers */
	
}

body .main_container .history .privateCommentRevisionBlock .grad_colour {

	background: -moz-linear-gradient(top, #9e253b 0%, #7C1F30 99%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e253b), color-stop(99%,#7C1F30)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e253b', endColorstr='#7C1F30',GradientType=0 ); /* ie */

	border:1px solid #7C1F30;

}

.history .revisionBlock {
	border-top: 1px solid gray;
	margin: 20px 0px;
	padding: 10px 10px;
}

.history .revisionBlock .author {
	font-weight: bold;
}

.history .revisionBlock .comment {
	font-style: italic;
}

.history .revisionBlock .changes {
	padding: 0px 0 10px 0;	
}

.history .revisionBlock .changes .change .value {
	color: #000000;
	font-style: italic;
}

.history .revisionBlock .changes .change .field {
	color: #000000;
}

.history .revisionBlock .attachments {
	padding: 0px 0 10px 0;	
}

.ticketAttachments .attachment,
.history .revisionBlock .attachments .attachment {
	background: url('/images/icons/mimetypes/small/file.png') no-repeat left center;
	line-height: 20px;
	padding-left: 22px;
}

.attachment-jpg,
.attachment-png,
.attachment-gif {
	background-image: url('/images/icons/mimetypes/small/image.png') !important;
}

.attachment-xls,
.attachment-xlsx {
	background-image: url('/images/icons/mimetypes/small/spreadsheet.png') !important;
}

.attachment-doc,
.attachment-docx {
	background-image: url('/images/icons/mimetypes/small/word.png') !important;
}

.attachment-ppt,
.attachment-pptx {
	background-image: url('/images/icons/mimetypes/small/presentation.png') !important;
}


.attachment-pdf {
	background-image: url('/images/icons/mimetypes/small/pdf.png') !important;

#ticketCreateFormTabs INPUT.text,
#ticketUpdateFormTabs INPUT.text,
#projectCreateFormTabs INPUT.text,
#projectUpdateFormTabs INPUT.text {
	width: 350px;
}

.ticketDescription,
.projectDescription {
	padding-top: 20px;
}

.ticketDescription TABLE,
.projectDescription TABLE,
.history .revisionBlock TABLE {
		border-collapse: collapse;
}

.ticketDescription TABLE TD,
.projectDescription TABLE TD,
.history .revisionBlock TABLE TD {
		background: white;
		border: 1px solid #eeeeee;
		padding: 8px 20px;
}

.ticketDescription LI,
.projectDescription LI,
.history .revisionBlock LI {
	padding: 5px 0 2px 25px !important;
	border: none !important;
}

.ticketSummary A,
.projectSummary A,
.ticketDescription A,
.projectDescription A,
.history .revisionBlock A {
	color: #0a4e98 !important;
	font-weight: normal !important;
	text-decoration: underline;
}

.ticketSummary A:hover,
.projectSummary A:hover,
.ticketDescription A:hover,
.projectDescription A:hover,
.history .revisionBlock A:hover {
	text-decoration: none;
}

.privateCheckboxBlock {
	padding-left: 30px;
}