.timeline {
	padding:  8px;
}

.timeline H1 {
	margin: 22px 0 10px 0;
}

.timeline H1.first {
	margin-top: 0;
}

.timeline .record {
	line-height: 180%;
}

.timeline .record A {
	color: #0a4e98;
	font-weight: normal;
	text-decoration: underline;
}

.timeline .record A:hover {
	text-decoration: none;
}

.timeline .record .time {
	padding: 0 10px 5px 0;
	color: #227722;
}

.timeline .record .author {

}

.timelineControl {
	float: right;
	margin: 20px;
}

.timeline .record .highlight1 {
	color: purple;
}