.wikiBlock {
	padding-bottom: 25px;
}

.wikiBlock .navigation {
	margin-bottom: 20px;
}

.wikiBlock .articleBody {
	padding: 10px 25px;
}

.wikiBlock .articleBody A {
	color: #0a4e98;
	font-weight: normal;
	text-decoration: underline;
}

.wikiBlock .articleBody A:hover {
	text-decoration: none;
}

.wikiBlock .articleBody LI {
	padding-left: 20px;
}

.wikiBlock .signature {
	text-align: right;
	font-style: italic;
	padding-right: 20px;
}